{% extends 'GeorgiAlexandrovBattleshipBundle::layout.html.twig' %}

{% block content %}
	<p>{{ board.show(showShips) }}</p>
	{% for flashMessage in app.session.flashBag.get('gameover') %}
        {{ flashMessage }}<br/>
	{% endfor %}
    {% if gameOver == false %}
		{{ form(form) }}
	{% else %}
		<a href="/">Play again?</a>
	{% endif %}
{% endblock %}