<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="{{ asset('bundles/GeorgiAlexandrovBattleship/css/style.css') }}" />
		<script src="{{ asset('bundles/GeorgiAlexandrovBattleship/js/jquery-1.11.1.min.js') }}"></script>
		<script src="{{ asset('bundles/GeorgiAlexandrovBattleship/js/script.js') }}"></script>
        <title>Georgi Alexandrov's Battleship</title>
    </head>
    <body>
    	{% for flashMessage in app.session.flashBag.get('bombStatus') %}
            {{ flashMessage }}<br/>
    	{% endfor %}
		{% block content %}{% endblock %}
    </body>
</html>